body {
  padding: 0.43%;
  margin-left: 30%;
  margin-right: 30%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#img {
  width: 195px;
  height: 46px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: sans-serif;
  color: #454f5b;
  height: 50px;
  padding-bottom: 10px;
}
.login1 {
  padding-left: 30px;
  padding-right: 30px;
}
.login2 {
  margin-left: 0px;
  margin-right: 0px;
  color: #346aff;
  border-bottom: 0.3rem solid #346aff;
}
.login3 {
  padding-left: 30px;
  padding-right: 30px;
}

.a1 {
  text-decoration: none;
}
.a0 {
  text-decoration: none;
}

.password {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 50px;
}

.ps {
  border: 0px;
  flex-grow: 3;
  padding: 16px;
  padding-left: 0%;
}
.e {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img1 {
  width: 20px;
  height: 20px;
}
.x {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.text {
  font-size: 14px;
  margin: 10px 0px;
  color: #474e57;
  font-family: sans-serif;
}

#lbt {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  background-color: #0073e9;
  border: 0;
  font-size: 16px;
  color: white;
}

.hr {
  margin: 12px 0px 16px;
}

#lbt1 {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  background-color: #ffff;
  border: 1px solid #454f5b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
